.legend-box{
  margin: 0;
  width: 15px;
  height: 15px;
  background: #ccc;
  float: right;
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.l8-color{
  background: #7bd500 !important;
} 
.l7-color{
  background: #b7eb81 !important;
}
.l6-color{
  background: #EEA55E !important;
}
.l5-color{
  background: #e47100 !important;
}
.l4-color{
  background: #ff3980 !important;
}
.l3-color{
  background: #c11363 !important;
}
.l2-color{
  background: #bc4248 !important;
}
.l1-color{
  background: #A32020 !important;
}
/*.terminations {
  background-color: #2b6bad;
}*/

/**  Graph Container S T A R T  **/
.padding-0{
  padding: 0;
}
.font-15{
  font-size: 15px;
}
.font-18{
  font-size: 18px;
}
.font-24{
  font-size: 24px;
}
.font-20 {
  font-size: 20px;
}
.font-28 {
  font-size: 28px;
}
.paddingLeft7{
  padding-left: 7px;
}
.legend-wrap:after {
    content: '';
    display: table;
    clear: both;
}


.Graphcontainer ul.nav-pills a{
  color: #f0a566;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.Graphcontainer ul.nav-pills a:hover,
.Graphcontainer ul.nav-pills a:focus {
  background: #f0a566;
  color: white;
}
.TopContent{
  border-top:5px solid #f0a566;
  border-bottom: 5px solid #f0a566;
  border-right:3px solid #f0a566;
  border-left:3px solid #f0a566;
  margin:0 1px 0 2px;
  /*margin-left:22px;*/
}

.TopContent .flex-container{
  padding:0 10px;
  border-bottom:1px solid #D8D8D8;
  line-height: 54px;
}
.TopContent .flex-container p{
  margin: 0
}
.TopContent .flex-container .owner-id {
  font-size: 15px;
  color: #686868;
}
.TopContent .flex-container .owner-value{
  font-size: 20px;
  font-weight: bold;
  color: #686868;
}
.TopContent .ABC_section{
  border-right:2px solid #f0a566;
  background: white;
}
.TopContent .flex-container:last-child p.owner-id{
  width: 60%;
  line-height: normal;
  padding: 12px 0 15px 0;
}
.business-chart{
  background: #f0a566;
  padding: 12px;
  color: white;
}
.business-chart p{
  margin: 0;
  line-height: 30px;
}
.business-chart p .notice-hd {
      font-size: 15px;
}

.business-chart p .notice-value {
  font-size: 20px;
}
.TopContent .terminations{
  background: #f0a566;
}
.TopContent .terminations ul{
  margin: 0;
  padding: 0;
}
.TopContent .terminations ul li{
  list-style: none;
  padding: 17px 15px 18.3px;
  border-bottom: 1px solid white;
  line-height: 45px;
}
.TopContent .terminations ul li:last-child{
  border-bottom: 0;
}
.TopContent .terminations ul li p,
.TopContent .terminations ul li span{
  color: white;
  margin: 0;
  line-height: normal;
}
.total-per {
font-weight: 200;
}
.bottomContent{
  margin: 0;
  padding: 25px 0;
}
.bottomContent .level-section {
  padding: 50px 0 0 20px;
}
.bottomContent .level-section .legend-wrap {
  padding: 5px 0;
}
.bottomContent .level-section .legend-wrap p{
  float: left;
}
.bottomContent .level-section .legend-wrap p.legend-box {
  float: right;
}
.bottomContent .ChartBorder{
  border: 1px solid #d8d8d8
}
.bottomContent .ViolationBorderRight{
  border-right: 1px solid #d8d8d8
}
.flexslider .flex-viewport ul {
  padding: 0;
}
.Graphcontainer.container {
  padding: 0;
  width: 100%;
}
p.total-hd-txt {
    font-size: 13px;
    font-weight: 600;
}
.TopContent .terminations ul li p.DownUpicon img.status-icon {
    width: auto;
    max-width: 100%;
}
.TopContent .terminations ul li p.DownUpicon {
    line-height: 30px;
    width: 10%;
}
.ContentViolation .highcharts-container {
  border: 1px solid #d8d8d8;
}
.ViolationBorderRight, .EventBorderNone {
  padding: 0;
}

/**  Graph Container E N D  **/
.dashboard .dashboard-content .tab-menu ul li a  {
  text-transform: capitalize;
  font-family: 'GeorgiaBoldItalic';
  font-size: 24px;
}
.TopContent .eq-height {
    background-color: #f0a566;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.dashboard .sidebar ul li a span {
  color: #000000;
  font-family: 'GeorgiaRegularfont';
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
.dashboard .sidebar ul li a {
  padding-left: 8px;
}
.dashboard .dashboard-content .title {
  font-family: 'GeorgiaBoldItalic';
  font-size: 40px;
}
.dashboard .dashboard-content .tab-menu ul li a.nav-active {
    background: #FCE9CE;
    color: #000000;
} 
.dashboard .dashboard-content .tab-menu ul li a:hover  {
  background-color: #F0F0F0;
      color: #e47100;
}
/**  Graph Container E N D  **/

