.subscriber-button {
    display: inline-block;

    button {
        border: 4px solid #adadad;
        box-shadow: 3px 3px 10px #adadad;
        color: #adadad;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 16px;
        min-width: 175px;

        &:hover, &:focus {
            border: 4px solid #f26f00;
            background-color: #f26f00;
            color: #fff;
        }
    }
}
