.subscriber-checkbox + label {
  display: inline;
}

.subscriber-checkbox:not(:checked),
.subscriber-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.subscriber-checkbox:not(:checked) + label,
.subscriber-checkbox:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.subscriber-checkbox:not(:checked) + label:before,
.subscriber-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: -6px;
  width: 1.5em;
  height: 1.5em;
  border: 4px solid #ccc;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.subscriber-checkbox:not(:checked) + label:after,
.subscriber-checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: -0.05em;
  left: .2em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.subscriber-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.subscriber-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.subscriber-checkbox:disabled:not(:checked) + label:before,
.subscriber-checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.subscriber-checkbox:disabled:checked + label:after {
  color: #999;
}
.subscriber-checkbox:disabled + label {
  color: #aaa;
}
/* accessibility */
.subscriber-checkbox:checked:focus + label:before,
.subscriber-checkbox:not(:checked):focus + label:before {
  border: 4px solid #bbb;
}

/* hover style just for information */
label:hover:before {
  border: 4px solid #bbb!important;
}
