.gj-checkBox {
  position: relative;
  padding-top: 7px;
  padding-bottom: 20px;

  .check-container {
    min-width: 100px;
    float: left;
  }

  input {
    width: 20px;
    margin-top: 5px;
    height: 20px;
  }

  span.label-field {
    font-size: 10px;
    position: absolute;
    top:2px;
    left:0;
    color:#93a4aa;
    transition: 0.3s ease all;
    height: auto;
    display: none;
    margin-bottom: 5px;
  }
  &.labelOn {
    span.label-field {
      display: block;
    }
  }


  // =======================
  //     Error container

  .alert-container {
    font-size: 10px;
    position: relative;
    color:#f84545;
    transition: 0.3s ease all;
    height: auto;
    padding: 0;
    display: none;
  }
  &.errorFloat {
    .alert-container {
      display: block;
    }

    input {
      border-color:#f84545 ;

      &:focus {
        outline: 0 none;
        border-color:#f84545 !important;
        box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2), 0 4px 20px -5px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2) !important;
      }
    }

    span.label-field {
      color:#f84545;
    }

  }

  //------------------------


}


.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin:5px 0;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 1px solid rgba(222,222,223,1);
  @include border-radius(2px);
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  //background: rgba(0,0,0,.4);
  background: #00B5AD;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.checkbox-custom:disabled + .checkbox-custom-label:before {
  //background: rgba(0,0,0,.4);
  background: #eee;
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.checkbox-custom:disabled + .checkbox-custom-label {
  color:#ddd;
  cursor: not-allowed;
  pointer-events: none;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  background: #00B5AD;
  box-shadow: inset 0px 0px 0px 3px #fff;
}


.radio-custom:disabled + .radio-custom-label:before {
  //background: rgba(0,0,0,.4);
  background: #eee;
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.radio-custom:disabled + .radio-custom-label {
  color:#ddd;
  cursor: not-allowed;
  pointer-events: none;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #fff; /* focus style */
}
