.g-text-input {
  position: relative;
  margin-bottom: 15px;

  &.lg {
    position: relative;

    .caption-container {
      font-size: 15px;
      position: absolute;
      top:13px;
      left:14px;
      color:#93a4aa;
      transition: 0.3s ease all;
      height: auto;
    }
    &.captionDown {
      .caption-container {
        font-size: 9px;
        letter-spacing: 1px;
        top:4px;
        left:15px;
      }
    }

    .text-container {
      font-size: 10px;
      position: relative;
      transition: 0.3s ease all;
      height: auto;
      padding:3px  0;
      display: none;
      color: #B4BBD0;
    }
    &.textOn {
      .text-container {
        display: block;
      }
    }

    .error-container {
      font-size: 10px;
      position: absolute;
      background: #F2405D;
      color:#fff;
      transition: 0.3s ease all;
      height: auto;
      padding: 2px 5px;
      z-index: 2;
      width: 100%;
      top:60px;
      display: none;
      @include border-radius(4px);

      &:after {
        content: '';
        position: absolute;
        left:10px;
        top:-3px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #F2405D;
      }
    }
    &.errorOn {
      .error-container {
        display: block;
      }

      input {
        border-color:#F2405D;
        &:focus {
          border-color:#F2405D;
        }
      }
    }

    .icon-container {
      position: absolute;
      z-index: 2;
      right: 2px;
      height: 52px;
      width: 35px;
      display: flex;
      align-items: center;
      top:1px;
    }
    &.iconOn {
      input {
        padding-right: 40px !important;
      }
    }

    .label-container {
      position: absolute;
      z-index: 2;
      left: 2px;
      height: 52px;
      width: auto;
      padding: 0 10px;
      display: flex;
      align-items: center;
      top:1px;
      background: #f5f7fa;
      opacity: 0;
    }
    &.labelOn {
      .label-container {
        opacity: 1 !important;
      }
    }

    .label-right-container {
      position: absolute;
      z-index: 2;
      right: 2px;
      height: 52px;
      width: auto;
      padding: 0 10px;
      display: flex;
      align-items: center;
      top:1px;
      border-left:1px solid #B4BBD0;
      opacity: 0;
    }
    &.labelRightOn {
      .label-right-container {
        opacity: 1 !important;
      }
    }


    input {
      width: 100%;
      background: white;
      @include border-radius(3px);
      cursor: text;
      letter-spacing: normal;
      text-align: start;
      text-indent: 0;
      text-rendering: optimizelegibility;
      text-shadow: none;
      text-transform: none;
      word-spacing: normal;
      box-sizing: border-box;
      border:1px solid #B4BBD0;
      transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
      font-size: 13px;
      color:#39495B;
      position: relative;
      height: 45px;
      padding:5px 0 0 14px;
      line-height: 15px;
      font-weight: 600;

      &:hover {
        outline: 0 none;
        border-color:#9399AC;
        box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2), 0 7px 5px -7px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
      }
      &:focus {
        outline: 0 none;
        border-color:#0091D4;
        box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2), 0 7px 5px -7px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
      }
      &:disabled{
        background: #FBFCFE;
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: none;
        color:#B4BBD0;

        &:focus {
          border-color:#E9EDF1;
          box-shadow: none;
        }
      }
      &:read-only{
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: none;

        &:focus {
          border-color:#E9EDF1;
          box-shadow: none;
        }
      }

    }
  }

}