.g-text-input {
  position: relative;
  margin-bottom: 15px;

  &.no-margin {
    margin: 0;
  }

  &.input-title {
  }

  // =======================
  //     Label Field

  span.label-field {
    font-size: 10px;
    position: absolute;
    top:2px;
    left:15px;
    color:#93a4aa;
    transition: 0.3s ease all;
    height: auto;
    display: none;
  }
  &.labelOn {
    span.label-field {
      display: block;
    }
  }
  &.withLabel {
    span.label-field {
      left:115px
    }
    input {
      width: calc(100% - 100px);
    }
  }


  // Semantic Hack

  .input {
    width: 100%;
  }

  .label.label {
    width: 100px;
    font-size: 14px;
    font-weight: 200;
  }

  // -----

  .text-container {
    font-size: 10px;
    position: relative;
    transition: 0.3s ease all;
    height: auto;
    padding:3px  0;
    display: none;
  }


  // =======================
  //     Error container

  .alert-container {
    font-size: 10px;
    position: relative;
    color:#f84545;
    transition: 0.3s ease all;
    height: auto;
    padding: 0;
    display: none;
  }

  &.errorFloat {
    .alert-container {
      display: block;
    }

    input {
      border-color:#f84545 ;

      &:focus {
        outline: 0 none;
        border-color:#f84545 !important;
        box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2), 0 4px 20px -5px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2) !important;
      }
    }

    span.label-field {
      color:#f84545;
    }

  }

  &.textFloat {
    .text-container {
      display: block;
    }
  }

  //------------------------


  &.sm {
     height: 60px;

     input {
       height: 40px;
       font-size: 12px;
     }

     span.label-field {
       font-size: 8px;
       top:2px;
     }
   }

  &.xs {
    height: 50px;

    input {
      height: 30px;
      font-size: 11px;
      font-weight: 300;
    }

    span.label-field {
      font-size: 8px;
      font-weight: 300;
      top:2px;
    }
  }


  input {
    width: 100%;
    background: white;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor: text;
    letter-spacing: normal;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    border:1px solid #d6e1e5;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#364347;
    position: relative;
    padding: 15px 14px !important;
    line-height: 18px !important;
    font-weight: 500;

    &:focus {
      outline: 0 none;
      border-color:#93a4aa;
      box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2), 0 4px 20px -5px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2) !important;
    }

    &.disabled{
      background: rgba(0, 0, 0, 0.1) !important;
    }

  }

  /*.maxChar {
    position: absolute;
    right: 15px;
    width: auto;
    font-size: 10px;
    height: auto;
    top:5px;
    color:#ddd;

    &.error {
      color: #f84545
    }
  }*/




}