.g-text-area {
  position: relative;

  &.input-title {

    textarea {
      top:0;
      padding: 15px;
    }
  }

  // =======================
  //     Label Field

  span.label-field {
    font-size: 10px;
    position: absolute;
    top:1px;
    color:#93a4aa;
    transition: 0.3s ease all;
    height: auto;
    display: none;
    @include border-radius(10px);
    width: calc(100% - 2px);
    left: 1px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: white;
  }
  &.labelOn {
    span.label-field {
      display: block;
    }
  }

  // =======================
  //     Error container

  .alert-container {
    font-size: 10px;
    position: relative;
    color:#f84545;
    transition: 0.3s ease all;
    height: auto;
    padding: 0;
    display: none;
  }
  &.errorFloat {
    .alert-container {
      display: block;
    }

    textarea {
      border-color:#f84545 ;

      &:focus {
        outline: 0 none;
        border-color:#f84545 !important;
        box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2), 0 4px 20px -5px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2) !important;
      }
    }

    span.label-field {
      color:#f84545;
    }

  }

  //------------------------


  &.sm {
    height: 60px;

    input {
      height: 40px;
      font-size: 12px;
    }

    span.label-field {
      font-size: 8px;
      top:2px;
    }
  }

  &.xs {
    height: 50px;

    input {
      height: 30px;
      font-size: 11px;
      font-weight: 300;
    }

    span.label-field {
      font-size: 8px;
      font-weight: 300;
      top:2px;
    }
  }


  textarea {
    width: 100%;
    min-height: 150px;
    background: white;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor: text;
    letter-spacing: normal;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    border:1px solid #d6e1e5;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    color:#364347;
    position: relative;
    padding: 25px 15px;
    font-size: 12px;
    font-weight: 500;

    &:focus {
      outline: 0 none;
      border-color:#85B7D9;
      box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2), 0 4px 20px -5px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2) !important;
    }

    &.disabled{
      background: rgba(0, 0, 0, 0.1) !important;
    }

  }



}