
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
  }
}

.bg-white {  background-color: #fff;  color: #717171;}

$S:     480px;
$M:     768px;
$L:     1170px;

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (max-width: $L) { @content; }
  }
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin padder-v($val) {
  padding-top: $val;
  padding-bottom: $val;
}
@mixin padder-h($val) {
  padding-left: $val;
  padding-right: $val;
}
@mixin margin-v($val) {
  margin-top: $val;
  margin-bottom: $val;
}
@mixin margin-h($val) {
  margin-left: $val;
  margin-right: $val;
}
@mixin padder($val) {
  padding: $val;
}
@mixin margin($val) {
  margin: $val;
}
@mixin border($val) {
  border: $val;
}

@mixin bg($val) {
  background-color: $val;
}


/*Border radius begins here*/
@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
@mixin border-radius-top($value) {
  -webkit-border-top-right-radius: $value;
  -webkit-border-top-left-radius: $value;
  -moz-border-radius-topright: $value;
  -moz-border-radius-topleft: $value;
  border-top-right-radius: $value;
  border-top-left-radius: $value;
}
@mixin border-radius-right($value) {
  -webkit-border-top-right-radius: $value;
  -webkit-border-bottom-right-radius: $value;
  -moz-border-radius-topright: $value;
  -moz-border-radius-bottomright: $value;
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}
@mixin border-radius-bottom($value) {
  -webkit-border-bottom-right-radius: $value;
  -webkit-border-bottom-left-radius: $value;
  -moz-border-radius-bottomright: $value;
  -moz-border-radius-bottomleft: $value;
  border-bottom-right-radius: $value;
  border-bottom-left-radius: $value;
}
@mixin border-radius-left($value) {
  -webkit-border-top-left-radius: $value;
  -webkit-border-bottom-left-radius: $value;
  -moz-border-radius-topleft: $value;
  -moz-border-radius-bottomleft: $value;
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}
/*Border radius ends here*/

@mixin transform ($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin rotate($value) {
  -webkit-transform: rotate($value);
  transform: rotate($value);
}
