@import "./_mixins.scss";

.osp-app {
  height: 100%;

  section.page-container {
    min-height: 100%;
    height: 100%;
    top: 0;
    position: relative;
    padding: 60px 0 0 0;
    transition: 0.3s ease all;
  }

  .page-title {
    color: #232C3C;
    padding: 0 5px;
    height: 100px;
    width: 100%;
    display: table;

    .text {
      display: table-cell;
      vertical-align: middle;
      width: 70%;
      height: 100%;

      .col-xs-6 {
        &:last-child {
          text-align: right;
        }
      }

      h1 {
        font-size: 22px;
        font-weight: 500;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .pagePanel {
    background: #fff;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;

    .title {
      font-size: 11px;
      font-weight: bold;
      border-bottom:1px solid #eee;
      background: #fff;
      margin: -20px 0 20px 0;
      padding: 15px 0;
      //background: #F2F7FB;


    }

    .description {
      font-size: 16px;
      font-weight: 400;
      padding: 0px 20px;
      background: #fff;
      border-left: 3px solid #1DACF5;
      margin: 20px 0;
      position: relative;
    }
  }
}

