.dashboard {
  position: relative;
  height: 100%;
  max-width: 1100px;
  padding: 50px 0;
  margin: auto;

  .sidebar {
    width: 200px;
    left:0;
    top:150px;
    float: left;
    padding-top: 170px;

    ul {
      list-style: none;
      padding: 0;
      width: 90%;
      border:1px solid #95989A;

      li {
        height: 70px;
        display: flex;
        border-bottom: 1px solid #95989A;

        &:last-child {
          border:none;
        }

        a {
          height: 100%;
          width: 100%;
          background: #FFF;
          color: #95989A;
          display: flex;
          align-items: center;
          padding-left: 20px;
          font-size: 14px;
          line-height: 18px;
          font-weight: 200;
          text-transform: uppercase;
          text-decoration: none;

          i {
            margin-right: 10px;
          }

          &.active{
            background: #A12225;
            color: #FFF;
            text-decoration: none;
          }

          &:hover {
            background: #A12225;
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }
  }

  .dashboard-content {
    width: calc(100% - 200px);
    float: left;

    .title {
      height: 50px;
      display: flex;
      width: 100%;
      align-items: flex-start;
      font-size: 30px;
    }

    @import "manage-apis";

    .highcharts-credits {
      display: none;
    }

    .tab-menu {
      width: 100%;
      margin-top: 20px;

      ul {
        padding: 0 0 0 0;
        height: 100%;
        box-sizing: border-box;
        max-height: 100%;
        margin: 0;
        display: flex;

        li {
          position: relative;
          flex: 1;
          padding: 1px;

          a {
            color: #95989A;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            background: #F0F0F0;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
          }

          &:hover {
            a {
              color: rgba(41, 41, 41, 1);
              background: #FCE9CE;
            }
          }

        }
      }
    }
    .filter-buttons {
      margin: 20px 0;
      text-align: right;
    }

    .analysis {
      display: flex;
      height: 400px;
      margin:0 0 20px 0;
      box-sizing: border-box;
      background: #ECA464;

      .small {
        display: flex;
        flex: 1;
        height:100%;
        flex-direction: column;

        .chart {
          display: flex;
          flex: 4;
          margin: 5px;
          background: white;
        }

        .count {
          flex: 2;
          display: flex;
          flex-direction: column;

          .box {
            flex: 1;
            display: flex;
            padding: 5px 10px;
            align-items: center;
            color: white;

            .key {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 15px;
              font-weight: 200;
            }
            .val {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 20px;
              line-height: 20px;
            }
          }
        }

        .list {
          display: flex;
          height: 100%;
          margin: 0px ;
          box-sizing: border-box;
          flex-direction: row;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          justify-content: space-between;
          align-items: flex-end;
          align-content: flex-end;
          -webkit-box-align: end;
          color: white;

          .rate {
            flex: 2;
            height:100%;
            display: flex;
            flex-direction: column;

            .item {
              flex: 1;
              border-bottom:1px solid #fff;
              display: flex;
              padding: 30px 15px 0 15px;
              position: relative;

              .title {
                position: absolute;
                left: 15px;
                top:25px;
                color:white;
                font-size: 12px;
              }

              .point {
                position: absolute;
                right: 15px;
                top:25px;
                color:white;
                font-size: 20px;
              }

              .key {
                flex: 2;
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: 200;

                i {
                  font-size: 25px;

                  &.r90 {
                    -ms-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                  }
                }
              }
              .val {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 30px;
                line-height:30px;
                padding-top: 10px;
              }


              &:last-child {
                border:none
              }
            }
          }
        }
      }

      .big {
        display: flex;
        flex: 2;
        height: calc(100% - 10px);
        margin: 5px 0;
        background: white;
        box-sizing: border-box;
      }
    }
    .chart-div {
      border:1px solid #eee;
      height: 300px;
      margin-bottom: 100px;
    }


  }
}