/*GeorgiaRegularfont*/
@font-face {
    font-family: 'GeorgiaRegularfont';
    src: url('./fonts/GeorgiaRegularfont.eot');
    src: url('./fonts/GeorgiaRegularfont.eot') format('embedded-opentype'),
         url('./fonts/GeorgiaRegularfont.woff2') format('woff2'),
         url('./fonts/GeorgiaRegularfont.woff') format('woff'),
         url('./fonts/GeorgiaRegularfont.ttf') format('truetype'),
         url('./fonts/GeorgiaRegularfont.svg#GeorgiaRegularfont') format('svg');
}

/*GeorgiaBoldItalic*/
@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('./fonts/GeorgiaBoldItalic.eot');
    src: url('./fonts/GeorgiaBoldItalic.eot') format('embedded-opentype'),
         url('./fonts/GeorgiaBoldItalic.woff2') format('woff2'),
         url('./fonts/GeorgiaBoldItalic.woff') format('woff'),
         url('./fonts/GeorgiaBoldItalic.ttf') format('truetype'),
         url('./fonts/GeorgiaBoldItalic.svg#GeorgiaBoldItalic') format('svg');
}

