.footer .logoimg{
  height: 30px;
}
.footer span{
  margin-top: 26px;
  padding-left: 24px;
  color: #95989a;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer h1{
  float: right;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #000;
  font-style: italic;
}
.footer sup{
  font-size: 6px;
  top: -1.5em;
  font-weight:900;
}

.footer > .container {
  border-top: 1px solid #95989a;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer{
  display: inline-block;
  width: 100%;
}