/*Landing page */
.viewer-box {
  border: 5px solid #e47100;
  border-radius: 50%;
  float: left;
  height: 210px;
  width: 210px;
  margin: 0 10px;
  transition: all 0.4s ease 0s;
  text-align: center;
  padding: 69px 0;
  cursor: pointer;
  box-shadow: 0px 2px 10px 2px #999;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.viewer-box h6 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color:#000;
  font-weight: normal;
}
.viewer-blog {
  display: inline-block;
  padding: 200px 0px;
  width: 100%;

}
.viewer-box span{
  display: block;
}

.viewer-box:nth-child(4), .viewer-box:nth-child(5) {
  padding: 70px 0;
}
.viewer-box p {
  color: #95989a;
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
}
.viewer-box:hover, .viewer-box.active {
  background: #fce9cd none repeat scroll 0 0;
}
.viewer-header{
  text-align: right;
  padding-top: 10px;
}

.viewer-header .logoimg {
  float: left;
  height: 39px;
}

.viewer-header .contact-title{
  padding-top: 15px;
  padding-left: 30px;
}

.viewer-header  .contact-title h1{
  font-size: 30px;
}

