.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.flex-container.login-div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 0px 20px;
  background: #fff;
  box-shadow: 0px -3px 20px 3px #999;
  height: 350px;
}

.login-title {
   font-size: 30px;
   color: #000000;
   line-height: 31px;
   font-weight: 600;
   margin-bottom: 10px;
   font-style: italic;
   font-family:Georgia;
 }

button.login-button {
  font-size: 18px;
  background: #ffffff;
  color:#adadad;
  text-transform: uppercase;
  height: 46px;
  margin-top:28px;
  box-shadow: 3px 3px 10px 0 #eee;
  border: 4px solid #adadad;
  padding: 6px 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 27px;
}
button.login-button:hover {
  border: 4px solid #e47100;
  background-color: #e47100;
  color: #fff;
}

