
nav {
  &.navbar {
    min-width: 700px;
    height: 60px;
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    z-index: 1;
    background: white;
    border-radius: 0;
    margin: 0;
    padding: 0;

    .nav-container {
      height: 100%;
      position: relative;
      max-width: 1100px;
      margin: auto;
    }
    .navbar-brand {
      float: left;
      height: 100%;
      padding: 17px 0 10px 0;
      font-size: 19px;
      line-height: 20px;

      img {
        height: 100%;
      }

      i {
        font-size: 30px;
        color: #ccc;
      }
    }

    .nav-menu {
      position: static;
      display: inline-block;

      > li {
        float: left;
        border-left: 1px solid #eee;
        border-right: 1px solid #fff;

        &.tdu {
          max-width: 150px;

          a {
            font-weight: 400;
          }
        }

        a {
          position: relative;

          span.count {
            @include border-radius(3px);
            @include box-shadow(0 3px 15px -3px rgba(230,230,230,0.67));
            background: red;
            color:white;
            font-size: 8px;
            position: absolute;
            top:10px;
            right: 10px;
            padding: 4px;
          }

        }

        &:first-child {
          border-left: none;
        }
        &:last-child {
          padding-right: 15px;
        }

        &.open{
          > a {
            background: transparent;
            color:#000000;
            border-bottom: none;
            margin: 0;
            position: relative;
          }

          .dropdown-mask {
            display: block;
          }
        }

        > a {
          height: 58px;
          font-size: 12px;
          letter-spacing: .02em;
          background: transparent;
          display: flex;
          align-items: center;
          color: #000000;

          &.md {
            display: flex;

            ~ ul {
              width: 130px;
            }
          }

          .caret {
            margin-left: 10px;
            position: absolute;
            right: 0;
          }

          img {
            height: 35px;
            width: 35px;
            overflow: hidden;
            margin-left: 7px;
            margin-right: 7px;

            ~ span {
              margin: 0 0 0 10px;
            }

            &.no-border {
              border:none;
              @include box-shadow(none)
            }
          }

          span {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;

            span {
              display: inherit;
              text-transform: none;
              font-size: 8px;
              line-height: 10px;
              color: #a1a1a1
            }
          }

          &:hover {
            border-bottom: none;
          }
        }
      }
    }

    .collapse, .dropup, .dropdown {
      position: static;
    }

    .dropdown-menu {
      left: auto;
    }

    .dropdown-menu {
      margin: 1px 0 0;
      padding: 0;
      font-size: 12px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      border-radius: 0;
      border: 1px solid #eee;
      border-top: none;
      @include box-shadow(0 5px 7px -4px rgba(0, 0, 0, .175));

      &.small {
        position: relative;
        margin: 0;
        border:1px solid #eee;
        border-left: solid 5px #ad2915;
        margin-left: 80px;
        //@include box-shadow(0 6px 12px rgba(0,0,0,.175));

        &:after {
          top: -15px;
          right: 24px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ccc !important;
          border-width: 7px;
          margin-left: -7px;
          z-index: 10;
        }

        i {
          font-size: 15px;
          margin-right: 10px;
        }
      }

      li {
        a {
          height: 40px;
          display: flex;
          align-items: center;
          padding: 0 15px;
          color: #95989a;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 16px;
        }
      }
      li:nth-child(5) {
        border-top: solid 1px #95989a;
      }
    }

    .dropdown.megamenu .dropdown-menu {
      left: 0;
      right: 0;
      min-height: 100px;
    }



    .dropdown-toggle span:first-child{
      color:#95989a;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
    }
  }
  &.sidebar {
    width: 225px;
    transition: 0.3s ease all;
    left:75px;
    height: 100%;
    z-index: 2;
    position: fixed;
    background: #232C3C;

    ~ section#page_container {
      width: calc(100% - 300px);
      left: 300px;
    }

    ~ nav#navbar {
      width: calc(100% - 300px);
      left: 300px;
    }

    &.none {
      width: 0;
      display: none;

      ~ section#page_container {
        width: calc(100% - 75px);
        left: 75px;
      }

      ~ nav#navbar {
        width: calc(100% - 75px);
        left: 75px;
      }
    }

    .panel {
      background-color: transparent;
      border: 0px solid transparent;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 0;
      height: 100%;
      width: 100%;
      position: relative;
    }

    .nav-title {
      text-transform: uppercase;
      color: rgba(120, 134, 140, .4);
      padding: 25px 25px 0px 25px;
      font-size: 10px;
      margin:0px 0 10px 0;
      letter-spacing: 1px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 185px;
        background: rgba(120, 134, 140, .1);
        height: 1px;
        top: 0;
        left:25px
      }
    }

    ul {
      padding-left: 0;
      padding-bottom: 10px;
      list-style: none;

      li {
        position: relative;

        a {
          display: block;
          outline: 0;
          padding: 8px 25px 8px;
          font-size: 11px;
          color: rgba(255,255,255,.7);
          cursor: pointer;

          &.more {
            text-decoration: none !important;
            color: #eeeeee;

            &:not(.collapsed) {
              font-weight: 600;

            }

            &.collapsed {
              color: rgba(255,255,255,.7);
              background-color: transparent;
              box-shadow: none;
              text-decoration: none;

            }
            &:after {
              right: 17px;
              border: solid transparent;
              content: " ";
              height: 0;
              transition: -webkit-transform .2s;
              transition: transform .2s;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(197, 208, 222, 0);
              border-width: 4px;
              border-top-color: transparent;
              border-bottom-color: #c5d0de;
              top: 10px
            }
            &.collapsed:after {
              top: 14px;
              right: 17px;
              border: solid transparent;
              content: " ";
              height: 0;
              transition: -webkit-transform .2s;
              transition: transform .2s;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(197, 208, 222, 0);
              border-top-color: #c5d0de;
              border-width: 4px
            }
          }

          &:hover {
            color: #eeeeee;
            font-weight: 600;
            text-decoration: none !important;

            .badge {
              color: #EEE;
            }
          }

          & > .badge {
            position: absolute;
            right: 24px;
            top: 6px;
            padding: 3px 10px;
            color: #a7a9ac;
            background-color: transparent;
            border: 1px solid #4f4a65;
          }

        }

        &.active {
          font-weight: 800;
        }

        .sub-one {
          padding-bottom: 0;

          li {
            a {
              display: block;
              color: #a7a9ac;
              padding-left: 40px;

              &:before {
                content: '';
                position: absolute;
                left: 25px;
                height: 30px;
                top:0px;
                width: 1px;
                background: rgba(255,255,255,.2);
              }

              &:after {
                content: '';
                position: absolute;
                left: 25px;
                width: 10px;
                top:15px;
                height: 1px;
                background: rgba(255,255,255,.2);
              }


              &:hover, &:focus {
                color: #eeeeee;

              }

              &> .icon {
                padding-right: 8px;
              }

              &> .badge {
                color: #a7a9ac;
                background-color: transparent;
                border: 1px solid #211f2a;
              }
            }

            &.active {
              &> a {
                font-weight: 600;
                color:white;
              }
            }

            &:last-child {
              a:before {
                height: 15px;
              }
            }

          }
        }
      }
    }
  }
  &.minisidebar {
    width: 85px;
    height: calc(100% - 60px);
    top:60px;
    z-index: 2;
    position: fixed;
    background: #1D2531;

    ul {
      list-style:none;
      margin: 0;
      padding: 0;

      li {
        margin: 15px;
        width: 55px;
        height: 45px;
        @include border-radius(3px);
        text-align: center;
        display: table;

        a {
          width: 100%;
          height: 45px;
          display: table-cell;
          vertical-align: middle;
          font-size: 30px;
          color:white;
          font-weight: 700;
          transition: .2ms all;

          span {
            display: none;
            color: black;
            font-size: 13px;
            line-height: 13px;
            font-weight: 100;
            text-transform: uppercase;
            margin-left: 10px;
            letter-spacing: .073em;
          }

        }

        &:hover {
          a {
            cursor: pointer;
            width: 200px;
            position: absolute;
            background: white;
            height: 45px;
            text-align: left;
            border-radius: 4px;
            border: 1px solid #ddd;
            padding-left: 10px;
            display: flex;
            align-items: center;

            span {
              display: block;
            }

            i {
              color: #1D2531;
            }
          }
        }
      }
    }
  }
}
