@import "./_mixins.scss";

body {
  min-width: 1000px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.42857;
  color: #434d51;
  overflow-x:hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FFF;
  position: relative;

  > div {
    height: 100%;
  }
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative ;
}

.h1,.h2,.h3,.h4,.h5,.h6 {margin: 0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; outline: none !important; }
a {
  color:#000;

  &:hover {
    color:#000;
    text-decoration: none;
  }

  i {

    &:hover {
      text-decoration: none !important;
    }
  }
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }
h1, h2, h3 {margin: 0px; }

textarea { -moz-box-sizing: border-box; box-sizing: border-box; resize: none;}
ul, li {
  list-style: none;
}
.text-ellipsis {  display: block;  white-space: nowrap;  width: 100%;  overflow: hidden;  text-overflow: ellipsis;}
.clear {  display: block;  overflow: hidden;}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*Accordian Custom Style */
.panel-heading {
  padding: 0;
}

.panel-group {
  .panel {
    border: none;
  }
  .header a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
  }
}

.panel-body .table {
  th, td {
    width: 25%;
  }
}

.dashboard .dashboard-content .table-container .tabs .tab-open .wrapper .rule-description,.dashboard .dashboard-content .table-container .tabs .tab-open .wrapper .rule-name {
  font-size: 17px;
}

.dashboard .dashboard-content .table-container .tabs .tab-open .wrapper .rule-description {
  padding-top: 10px;
}

.manage-rules .panel-group .header a {
  width: 80%;
}

.dashboard .dashboard-content .table-container .tabs.manage-rules .tab-open .wrapper .col-md-12.table-cont {
  margin-top:8px;
}

.dashboard .dashboard-content .table-container button.btnaddrule{
  background:#e47100;
  color:white;
  border:none;
}
.dashboard .dashboard-content .title{
  color: #000;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/*icon css*/
.homeicon {
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
  font-size: 0 !important;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 999999;
}
.hamburger {
  background-image: url('../images/hamburger.png');
  background-repeat: no-repeat;
  background-size: 89% 73%;
  font-size: 0 !important;
  background-position: center;
  width: 21px;
  height: 20px;
  position: relative;
  z-index: 999999;
}