.contact{
  padding-bottom: 120px;
}
.contact-box.contact-box {
  background: transparent url(/src/assets/images/fillform-panel.png) no-repeat scroll center 30px/27% auto;
  box-shadow: 0px 5px 10px 0px #bbb;
  height: 300px;
  padding: 22px 20px;
  position: relative;
  border-top: 11px solid #a32222;
}
.contact-box::after {
  background: rgba(0, 0, 0, 0) url("../images/fillform-panel.sec.png") no-repeat scroll center 30px / 27% auto;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  transition: all 0.4s ease 0s;
}
.contact-box.email{
  background: rgba(0, 0, 0, 0) url("../images/sendemail-panel.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box.email::after {
  background: rgba(0, 0, 0, 0) url("../images/sendemail-panel-rollover.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box.bulk{
  background: rgba(0, 0, 0, 0) url("../images/bulkreport-panel.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box.bulk::after{
  background: rgba(0, 0, 0, 0) url("../images/bulkreport-panel-rollover.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box.integrate{
  background: rgba(0, 0, 0, 0) url("../images/integrate-panel.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box.integrate::after{
  background: rgba(0, 0, 0, 0) url("../images/integrate-panel-rollover.png") no-repeat scroll center 30px / 27% auto;
}
.contact-blog:hover .contact-box::after{
  opacity: 1;
}
.contact-blog.active .contact-box::before {
  opacity: 1;
  transform: scale(1);
}
.contact-blog.active .contact-box::after {
  background: rgba(0, 0, 0, 0) url("../images/fillform-panel.sec.png") no-repeat scroll center 30px / 27% auto;
}
.contact-box-text h5 {
  color: #000;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  font-weight: 700;
  padding: 16px 0 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-box-text {
  position: relative;
  top: 84px;
}
.contact-box-text p {
  color: #777;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.contact-blog {
  padding: 0 8px;
}

.contact-title h1 {
  color: #000;
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
  line-height: 44px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.contact-title > p {
  padding: 20px 0 40px;
  color: #b6b8ba;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 22px;

}

.contact .upload-events{
  padding-top: 25px;
}