/*form details*/
.form_details{

  padding-top:15px;
}
.form_details h2 {
  color: #000;
  font-size: 31px;
  font-style: italic;
  font-weight: 600;
  line-height: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.form_details .nav.nav-tabs img {
  margin-right: 15px;
  width: 40px;
}
.form_details .nav-tabs > li{ width:25%;}
.nav-tabs{ border:0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border:0;}
.form_details_data h4 {
  background-color: #a32020;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  text-transform:uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
}
.form_details_data input.form-control {
  border-radius: 0;
  border-width: 0 0 1px 0;
  background-color: transparent;
  position: relative;
  z-index: 99999;
  font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form_details_data {
  border-left: 1px solid #c5c6c8;
  border-right: 1px solid #c5c6c8;
}
.text_filed {
  display: inline-block;
  padding: 15px;
  width: 100%;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #a32020;
  margin-left:125px;
}
.btn_info .btn-default {
  font-size: 18px;
  background: #ffffff;
  color: #adadad;
  text-transform: uppercase;
  height: 46px;
  margin-top: 28px;
  box-shadow: 3px 3px 10px 0 #eee;
  border: 4px solid #adadad;
  padding: 7px 63px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 27px;
  margin: 0 18px;
  width: 242px;
}
.btn_info .btn-default:hover{
  border: 4px solid #e47100;
  background-color: #e47100;
  color: #fff;
}
.btn_info {
  border-top: 1px solid #c5c6c8;
  display: inline-block;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}
.form_details .nav-tabs>li>a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  color:#BBBCBE;
}
.form_details .nav-tabs > li.active > a{color:#000;}

.form_details .nav-tabs>li>a:hover {
  border-color: transparent;
  background-color: transparent;
}

.form_details > h1{
  color: #000;
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
  line-height: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom:14px;
}
.form_details .form-control{min-height: 45px; border-color: #bdbec0;}
.form_details input.form-control:focus{    border-color: transparent;box-shadow: none; border-bottom: 1px solid #c2c4c5;}
.form_details .form-control {
  background-color: #FFF;

  border-radius: 0;
  box-shadow: none;

  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.drop_down::after {
  background-color: #FFF;
  background-image: url(/src/assets/images/arrowdown.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60% auto;
  border-radius: 2px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  border: 1px solid #c2c4c5;
  border-width: 1px 1px 1px 0;
  padding-right: 5px;
}
.drop_down {
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.drop_down select {
  padding: 0 13px !important;
  width: calc(100% + 20px) !important;
}
.drop_down .form-control {
  border: 1px solid #c2c4c5;
  font-size: 18px;
  text-transform: uppercase;
  color: #c2c4c5;
}
.form_details .form-group {   position: relative;}
label.form-label {
  position: absolute;
  top: 12px;
  margin-bottom: 0;
  left: 30px;
  font-size: 16px;
  color: #a5a8a9;
  font-weight: normal;
  overflow-x: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),scale .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
p.errorp {
  position: absolute;
  color: red;
}

label.selected {
  position: absolute;
  top: 15px;
  font-size: 14px;
  transform: translateY(-100%) scale(.75);
  left:28px;
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),scale .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.text_filed span {
  font-size: 20px;
  color: #a2a5a7;
}
.checkbox, .radio{color:#a2a5a7;}

.subscriber-modal{
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index:99999;
}
.subscriber-modal .btn_info{
  border:none;
}
.form-submit-label{
  font-size: 18px;
  color: #a5a8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.tab-content.submitted .row {
  padding-top: 15px;
}
.btn_info.noborder{
  border-top:none;
}
.displaynone{
  display: none !important;
}

.form-label .err{
  color:#b72626;
}

.form_details .subscriber-checkbox-container {
  display: inline;
  padding-right: 14px;
}