.subscriber {
    display: flex;
    background-image: url('../images/subscriber.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 20px);
    height: 100%;
    overflow: hidden;
}

.modal-backdrop {
    background-color: #fff;
}

.subscriber-modal {
    font-family: Georgia, 'Times New Roman', Times, serif;

    .subscriber-checkbox-container {
        display: inline;
        padding-right: 14px;
    }

    .modal {
        &-dialog {
            top: 30px;
            width: 1024px;
        }

        &-content {
            border-radius: 0;
            border-top: 12px solid #a32020;
            border-bottom: 12px solid #a32020;
            text-align: center;
        }

        &-header {
            border-bottom: none;
            padding-bottom: 0;
        }

        &-title {
            margin-top: 5px;

            .close-custom {
                background: url('../images/close.svg') no-repeat;
                cursor: pointer;
                position: absolute;
                top: 30px;
                right: -22px;
                width: 45px;
                height: 45px;
                transform: scale(2, 2);

                &:hover {
                    background: url('../images/close-rollover.svg') no-repeat;
                }
            }

            .title {
                font-size: 24px;
                font-style: italic;
                font-weight: bold;
                padding-top: 10px;
            }

            .description {
                color: #b6b8ba;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: normal;
                padding-top: 15px;
                padding-bottom: 22px;
            }
        }

        &-body {
            padding: 0;
            
            // alert related
            .body-0-19 {
                font-size: 16px;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }

            .container-0-0.top-right-0-1 {
                top: 12px;
                right: -3px;
            }

            .panel-heading {
                padding: 20px;
                text-align: left;

                &.selected {
                    background-color: #fce9cd;
                }

                a {
                    cursor: pointer;
                    display: block;
                    user-select: none;
                }

                .title {
                    font-size: 20px;
                }

                // use @extends
                .violation-film {
                    background: url('../images/film.svg') no-repeat;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                    vertical-align: sub;

                    &:hover {
                        background: url('../images/film-rollover.svg') no-repeat;
                    }
                }

                .violation-book {
                    background: url('../images/book.svg') no-repeat;
                    display: inline-block;
                    width: 32px;
                    height: 30px;
                    margin-left: 10px;
                    vertical-align: sub;

                    &:hover {
                        background: url('../images/book-rollover.svg') no-repeat;
                    }
                }

                .violation-music {
                    background: url('../images/music.svg') no-repeat;
                    display: inline-block;
                    width: 30px;
                    height: 31px;
                    margin-left: 10px;
                    vertical-align: sub;

                    &:hover {
                        background: url('../images/music-rollover.svg') no-repeat;
                    }
                }

                .violation-tvshow {
                    background: url('../images/TVshows.png') no-repeat;
                    display: inline-block;
                    width: 32px;
                    height: 31px;
                    margin-left: 10px;
                    vertical-align: sub;

                    &:hover {
                        background: url('../images/TVshows-rollover.svg') no-repeat;
                    }
                }

                .panel-buttons {
                    line-height: 1;

                    .arrow-down {
                        background: url('../images/arrowdown.png');
                        width: 32px;
                        height: 21px;
                        vertical-align: middle;

                        &:hover {
                            background: url('../images/arrowdown-rollover.png');
                        }
                    }

                    .arrow-right {
                        background: url('../images/arrowright.png');
                        width: 21px;
                        height: 32px;
                        vertical-align: middle;

                        &:hover {
                            background: url('../images/arrowright-rollover.png');
                        }
                    }

                    .arrow-down, .arrow-right {
                        display: inline-block;
                        transform: scale(0.8, 0.8);
                    }

                    .state {
                        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        font-size: 20px;
                        vertical-align: middle;
                        padding: 0 5px;
                        margin-right: 5px;
                    }

                    .sunny {
                        display: inline-block;
                        background: url('../images/active.png');
                        width: 32px;
                        height: 32px;
                        transform: scale(0.8, 0.8);
                        vertical-align: middle;

                        &:hover {
                            background: url('../images/acive-over.png');
                        }
                    }
                }
            }

            .panel-body {
                padding: 0;
            }

            .violations {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;

                .table {
                    margin-bottom: 0;

                    thead {
                        background-color: #f5f5f5;
                        text-transform: uppercase;

                        th {
                            margin: 0 2px;
                            text-align: center;
                            vertical-align: middle;
                            border-bottom: none;
                            padding: 3px;
                            line-height: 2.1;

                            &:first-child {
                                padding-left: 15px;
                                text-align: left;
                            }

                            &:last-child {
                                padding-right: 15px;
                                text-align: right;
                            }
                        }
                    }

                    tbody {
                        td {
                            color: #adadad;
                            font-size: 18px;
                            border-top: none;
                        }
                    }
                }

                .buttons {
                    padding-top: 20px;
                    border-top: 2px solid #ebebec;
                }
            }

            .dispute-container {
                &.form-group {
                    margin-bottom: 0;
                }

                color: #adadad;
                font-size: 18px;
                border-top: 2px solid #ebebec;
                padding: 20px;

                input {
                    border: none;
                    border-bottom: 1px solid #ccc;
                }

                label {
                    font-weight: normal;
                }

                .other {
                    width: 90%;
                    font-size: 16px;
                }
            }

            .validation-error {
                color: #a32020;
                font-size: 16px;
                margin-top: 7px;
            }

            .buttons {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                margin-bottom: 20px;

                .default {
                    margin-right: 15px;

                    &.selected {
                        border: 4px solid #a32020;
                        background-color: #a32020;
                    }
                }

                .acknowledge {
                    &.selected {
                        border: 4px solid #a32020;
                        background-color: #a32020;
                    }
                }
            }
        }
    }
}
